<section class="index-page">
  <p class="success">
    Hello {{ userName }}!
  </p>
  <img class="avatar" src={{ image }}>
  <div>
    <a href="/auth/logout">
      Logout
    </a>
  </div>
</section>